[submodule "docker"]
	path = docker
	url = git@github.com:k8s-team/ansible-role-docker.git
[submodule "swap"]
	path = swap
	url = git@github.com:k8s-team/ansible-role-swap.git
[submodule "ansible-dependencies"]
	path = ansible-dependencies
	url = git@github.com:k8s-team/ansible-role-ansible-dependencies.git
[submodule "k8s-singlenode"]
	path = k8s-singlenode
	url = git@github.com:k8s-team/ansible-role-k8s-singlenode.git
[submodule "helm"]
	path = helm
	url = git@github.com:k8s-team/ansible-role-helm.git
[submodule "metallb"]
	path = metallb
	url = git@github.com:k8s-team/ansible-role-metallb.git
[submodule "ingress"]
	path = ingress
	url = git@github.com:k8s-team/ansible-role-ingress.git
[submodule "volumes"]
	path = volumes
	url = git@github.com:k8s-team/ansible-role-volumes.git
